* {
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  color: white;
}

div.controls {
  display: flex;
  max-width: 960px;
  min-width: 960px;
  height: 30px;
  margin: 24px auto;
  justify-content: space-between;
  align-items: center;
}

body > div.container {
  max-width: 960px;
  min-width: 960px;
  height: 960px;
  min-height: 960px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 0;
  background-color: white;
}

div.gridItem {
  flex-grow: 0;
  flex-shrink: 0;
}